[submodule "vim.link/bundle/ctrlp.vim"]
	path = vim.link/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim.link/bundle/nerdtree"]
	path = vim.link/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim.link/bundle/vim-colors-solarized"]
	path = vim.link/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim.link/bundle/vim-surround"]
	path = vim.link/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim.link/bundle/vim-pathogen"]
	path = vim.link/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
