/* Dracula Colors */

/* Normal */
@define-color color-black #282a36;
@define-color color-red #ff5555;
@define-color color-green #50fa7b;
@define-color color-orange #ffb86c;
@define-color color-yellow #f1fa8c;
@define-color color-blue #6272a4;
@define-color color-magenta #ff79c6;
@define-color color-purple #bd93f9;
@define-color color-cyan #8be9fd;
@define-color color-white #f8f8f2;

/* Bright (~10% higher luminance) */
@define-color color-bright-black #44475a;
@define-color color-bright-red #ff8888;
@define-color color-bright-green #82fba0;
@define-color color-bright-orange #ffd09e;
@define-color color-bright-yellow #f7fcbd;
@define-color color-bright-blue #828fb7;
@define-color color-bright-magenta #ffacdc;
@define-color color-bright-purple #dcc5fc;
@define-color color-bright-cyan #bdf3fe;
@define-color color-bright-white #ffffff;

/* Dim (~10% lower luminance) */
@define-color color-dim-black #14151b;
@define-color color-dim-red #ff2222;
@define-color color-dim-green #1ef956;
@define-color color-dim-orange #ff9f38;
@define-color color-dim-yellow #ebf85b;
@define-color color-dim-blue #4d5b86;
@define-color color-dim-magenta #ff46b0;
@define-color color-dim-purple #a165f6;
@define-color color-dim-cyan #59dffc;
@define-color color-dim-white #e6e6d1;

* {
    border: none;
    border-radius: 0;
    /*
    font-family: 'Hack NF Mono', 'Hack Nerd Font Mono', 'Font Awesome 6 Free', 'Noto Color Emoji', monospace;
    font-family: 'Hack NF Mono', 'Hack Nerd Font Mono', 'Font Awesome 6 Free', monospace;
    */
    font-family: sans-serif, monospace;
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    background-color: @color-black;
    color: #e9e9f4;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 5px;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0 7.5px;
}

#workspaces {
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @color-white;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    color: @color-purple;
    border-bottom-color: @color-purple;
}

#workspaces button.urgent {
    color: @color-red;
    border-bottom-color: @color-red;
}

#window {
    margin-left: 7.5px;
    font-weight: bold;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#mpd,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#custom-media,
#custom-light-control,
#custom-weather {
    padding: 0 10px;
    margin: 0px 2.5px;
    color: @color-white;
    background-color: @color-bright-black;
    border-bottom: 2px solid @color-purple;
}

#mode {
    font-weight: bold;
    color: @color-bright-black;
    background-color: @color-orange;
    border-top: 2px solid @color-orange;
    border-bottom: 2px solid @color-orange;
}

#clock {
    font-size: 9pt;
}

#battery {
    background-color: @color-white;
    color: @color-black;
}

#battery.charging {
    color: @color-bright-black;
    background-color: @color-bright-green;
}

@keyframes blink {
    to {
        background-color: @color-white;
        color: @color-dim-black;
    }
}

#battery.critical:not(.charging) {
    background-color: @color-red;
    color: @color-white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @color-dim-black;
}

#custom-media {
    background: @color-dim-green;
    border-color: @color-dim-green;
    color: @color-black;
}

#custom-weather {
}

#custom-light-control {
    transition: all 0.5s;
}

#custom-light-control.light-off {
}

#custom-light-control.light-on {
    background-color: @color-dim-yellow;
    border-bottom-color: @color-dim-yellow;
    color: @color-black;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}
