/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
    border: none;
    border-radius: 0;
    font-family: sans-serif, monospace;
    font-size: 14px;
    min-height: 0;
}

.modules-left {

}

.modules-center {
    margin: 0 10px;
}

.modules-right {

}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: @surface0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    min-width: 30px;
}

#workspaces button:hover {
    color: inherit;
}

#workspaces button.visible {
    background-color: shade(@mauve, 1.1);
    color: @crust;
}

#workspaces button.focused {
    background-color: @mauve;
    color: @crust;
}

#workspaces button.urgent {
    background-color: @red;
    color: @crust;
}

#window {
    font-weight: bold;
    text-shadow: 1px 1px 1px alpha(#000, 0.2);
    padding: 0 16px;
    border-radius: 20px;
    background-color: alpha(@surface0, 0.7);
}

window#waybar.empty #window {
    background-color: transparent;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#mpd,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#custom-media,
#custom-light-control,
#custom-weather {
    background-color: @surface0;
    padding: 0 16px;
    color: #ffffff;
    text-shadow: 1px 1px 1px alpha(@crust, 0.1);
}

#mode {
    font-weight: bold;
    color: @crust;
    background-color: @red;
}

#clock {
    background-color: @sky;
    color: @crust;
}

#battery {
    background-color: #ffffff;
    color: @crust;
}

#battery.charging {
    background-color: @green;
    color: @crust;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: @crust;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @crust;
}

#custom-media {
    background-color: @green;
    color: @crust;
}

#custom-weather {
}

#custom-light-control {
    transition: all 0.5s;
}

#custom-light-control.light-off {
}

#custom-light-control.light-on {
    background-color: @yellow;
    border-bottom-color: @yellow;
    color: @crust;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
}

#wireplumber {
}

#wireplumber.muted {
    background-color: @peach;
    color: @crust;
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: @mauve;
}

#mpd {
    background-color: @surface1;
    color: #ffffff;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}
