[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = less -r
[color]
	ui = true
[push]
	default = simple
[pull]
	rebase = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
    d = difftool
[include]
    path = ~/.gitconfig-custom
